# Ignore Other
*.htm
.ipynb_checkpoints
.idea

# Ignore Logs
*.log

# Ignore Simulink Files
*.autosave
*.slxc
*\.hbs
*\.Xil
*\hdl_prj
*\slprj
*\wavedata
*\netlist

# Ignore Vivado Files
*.jou
*vivado.txt
*vivado.jou
*vivado.log

# Ignore ./rfstrath/rfstrath/
**/rfsoc_sam/rfstrath
**/rfsoc_sam/rfsoc_pynq
**/rfsoc_sam/rfsoc_sam
**/rfsoc_sam_ofdm/rfsoc_sam_ofdm
**/rfsoc_sam_ofdm/iprepo
**/rfsoc_sam_ofdm/rfsoc_ofdm
**/rfsoc_sam_ofdm/rfsoc_radio
